absl-py==0.12.0
adal==1.2.6
aiohttp==3.8.4
aiosignal==1.3.1
anyio==2.2.0
argon2-cffi==20.1.0
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==20.3.0
azure-common==1.1.26
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
Babel==2.9.0
backcall==0.2.0
bleach==3.3.0
bokeh==2.3.0
brotlipy==0.7.0
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
charset-normalizer==3.1.0
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.6
conda==4.3.16
cryptography==3.4.6
cycler==0.10.0
datasets==2.12.0
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.12
dill==0.3.6
entrypoints==0.3
evaluate==0.4.0
filelock==3.12.0
flatbuffers==2.0.7
frozenlist==1.3.3
fsspec==2023.5.0
gast==0.3.3
google-api-core==1.26.2
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-cloud-core==1.6.0
google-cloud-storage==1.37.0
google-crc32c==1.1.2
google-pasta==0.2.0
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
grpcio==1.54.0
h5py==2.10.0
huggingface-hub==0.14.1
idna==2.10
imageio==2.9.0
ipykernel==5.5.0
ipympl==0.6.3
ipython==7.21.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-packaging==0.7.12
jupyter-server==1.4.1
jupyterlab==3.0.12
jupyterlab-pygments==0.1.2
jupyterlab-server==2.3.0
jupyterlab-widgets==1.0.0
keras==2.7.0
Keras-Preprocessing==1.1.2
kfp==1.0.4
kfp-server-api==1.0.4
kfserving==0.4.1
kiwisolver==1.3.1
kubernetes==10.0.1
libclang==16.0.0
lxml==4.9.2
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.4
mecab-python3==0.996.5
minio==7.0.2
mistune==0.8.4
multidict==6.0.4
multiprocess==0.70.14
nbclassic==0.2.6
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
networkx==2.5
notebook==6.3.0
numpy==1.23.5
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.3
pandocfilters==1.4.3
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.2
portalocker==2.0.0
prometheus-client==0.9.0
prompt-toolkit==3.0.18
protobuf==3.20.1
ptyprocess==0.7.0
pyarrow==12.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.20
Pygments==2.8.1
PyJWT==2.0.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.0.3
regex==2023.5.5
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
responses==0.18.0
rsa==4.7.2
sacrebleu==2.3.1
sacremoses==0.0.53
scikit-image==0.18.1
scikit-learn==0.24.1
scipy==1.6.1
seaborn==0.11.1
Send2Trash==1.5.0
sentencepiece==0.1.99
six==1.15.0
sniffio==1.2.0
strip-hints==0.1.9
table-logger==0.3.6
tabulate==0.8.9
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==1.1.0
terminado==0.9.3
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2021.3.17
tokenizers==0.13.3
tornado==6.1
tqdm==4.65.0
traitlets==5.0.5
transformers==4.28.1
typing-extensions==3.7.4.3
urllib3==1.26.4
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xgboost==1.3.3
xxhash==3.2.0
yarl==1.9.2
